.welcome{
    padding-top: 13.5%;
    background-image: url(../img/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 100vh;
    text-align: center;
    
}
h1{
    font-size: 3rem;
}