.welcome{
    padding-top: 22%;
    background-image: url(../img/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    min-height: 100vh;
    text-align: center;
    
}
h1{
    font-size: 3rem;
}
.mouse-img{
    padding-top: 14%;
    padding-bottom: 3%;
}